.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: inter;
  font-weight: 500;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  column-gap: 20px;
  padding: 0px;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__content {
  padding-top: 183px;
}

.header__span-accent {
  font-family: Noto, serif, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 60px;
  color: #2f80ed;
  margin-left: 80px;
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  padding: 0px;
  margin-top: 28px;
  font-family: Noto, serif, "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-left: 80px;
  margin-top: auto;
  z-index: 1;
  font-weight: 500;
  color: #838383;
}
