.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  font-family: Noto, serif, "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  column-gap: 40px;
}

.recipes__iframe {
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
